:root {
    --sun: #f87b14;
    --moon: black;
}

*,
*::after,
*::before {
    box-sizing: border-box;
}

body {
    background: black;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: grid;
    place-items: center;
}

.sun {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: 300px;
    background: #f87b14;
    border-radius: 50%;
    box-shadow: 0 0 200px -30px var(--sun);
}

.moon {
    width: 295px;
    height: 295px;
    background: var(--moon);
    border-radius: 50%;
    box-shadow: inset 0px 1px 20px var(--sun);
}
