:root {
    --c: #c8ff00;
}

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    background: radial-gradient(circle at 50% 50%, #222222, #010101);
}

.loader {
    width: 15vmin;
    height: 15vmin;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background: conic-gradient(from 150deg at 50% 14%, var(--c) 0 60deg, #fff0 0 100%);
}

.loader span {
    width: 100%;
    height: 100%;
    position: absolute;
    transform-origin: 100% 100%;
    transform: rotate(60deg);
    animation: spin 1.5s ease-in-out -1.245s infinite;
    background: conic-gradient(from 150deg at 50% 14%, var(--c) 0 60deg, #fff0 0 100%);
}

.loader span+span {
    transform-origin: 0% 100%;
}

.loader span+span+span {
    transform-origin: 50% 14%;
}

@keyframes spin {
    100% {
        transform: rotate(300deg);
    }
}